@import "../variables.css";
html body {
	width: 99vw;
	height: 99vh;
	font-family: "Italianno";
}

body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

main {
	display: flex;
	flex-direction: row-reverse;
}
h2 {
	font-family: "Italianno", serif;
}
form {
	display: flex;
}
@import url("https://fonts.googleapis.com/css2?family=Italianno");
