* {
	margin: 0;
	padding: 0;
}
body {
	width: 100vw;
	height: 100vh;

	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
.container_grid {
	height: 40vh;
	max-width: fit-content;

	border: dotted black 2px;

	display: grid;
	grid-template-columns: repeat(3, minmax(200px, 400px));
}
.red {
	background-color: red;
}
.blue {
	background-color: blue;
}
.white {
	background-color: white;
}

.container_flex {
	height: 40vh;
	width: 1200px;
	border: dotted black 2px;

	display: flex;
	flex-flow: row;
}

.container_flex > div {
	width: 500px;
	height: 100%;
}
