@import "./variables.css";
/* Estilos generales */
* {
<<<<<<< HEAD
    margin: 0;
    padding: 0;
=======
<<<<<<< HEAD
	margin: 0;
	padding: 0;
=======
	width: 99vw;
	height: 99vh;
>>>>>>> 00d1c03 (Estructura web creada)
>>>>>>> b26d41b (About us page almost finished)
}

div {
    width: 100vw;
    height: 100vh;
}

/* IMAGEN DE FONDO */
#home {
<<<<<<< HEAD
    background-image: url("./imgs/web/home.jpeg");
    background-size: cover;
    background-position: center;
=======
	min-width: 90%;
	min-height: 90%;
	background-image: url("./imgs/web/home.jpeg");
	background-size: cover;
	background-position: center;
>>>>>>> b26d41b (About us page almost finished)
}

/* Colores de Titulo */
#home > h1:nth-child(1) > span:nth-child(1) {
    color: var(--rojo);
}
#home > h1 > span:nth-child(2) {
    color: var(--verde);
}

/* Asegurar que el header esté bien posicionado */
header {
<<<<<<< HEAD
    background-color: var(--rojo);
    padding: 1rem;
}

.header-logo > p:nth-child(2) {
    color: var(--blanco);
    font-size: 2.5rem;
}

header {
    background-color: rgb(245, 197, 197);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header > nav > ul {
    height: max-content;
    width: 15vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.header-logo {
    height: 10vh;
    width: 8vw;
    display: flex;
    flex-direction: row;
}

/* FOOTER */
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

/* LINKS DEL FOOTER */
#footer-links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

/*QUITADO LA DECORACIONES DE LOS LI Y LOS A*/
li > a {
    color: inherit;
    text-decoration: none;
}
li > a:hover {
    font-weight: bold;
}
span {
    font-weight: bolder;
}
li::marker {
    color: transparent;
=======
>>>>>>> b26d41b (About us page almost finished)
}
