html body {
	width: 99vw;
	height: 99vh;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

/* IMAGEN DE FONDO */
#home {
	min-width: 90%;
	min-height: 90%;
	background-image: url("./img/freepik__imagen-de-un-restaurante-rstico-con-buena-iluminac__80804.png");
	background-size: cover;
}
