:root {
	--rojo: #730000;
	--verde: #005136;
	--blanco: #fffcf1;
	--texto: #a47575;
	--texto-footer: #f1c9c7;
	--negro: #000;
}

@import url("https://fonts.googleapis.com/css2?family=Italianno");
@import url(https://font.download/font/domaine-display-narrow);
@import url(://fonts.google.com/specimen/Molengo);
@import url(https://fonts.google.com/specimen/Overlock);
